[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.8"
mysql-python = "*"
mysqlclient = "*"
configparser = "*"
djipsum = "*"
redis = "*"
django-redis = "*"
pillow = "*"
djangorestframework = "*"
django-auto-prefetching = "*"

[requires]
python_version = "3.6"
